<!DOCTYPE html>
<html>
<head>
  <title>Quiz - Question <%= question.id %></title>
</head>
<body>
  <h1>Question <%= question.id %></h1>
  <form action="/submit" method="post">
      <h3><%= question.question %></h3>
      <% question.choices.forEach((choice) => { %>
        <input type="radio" name="answer" value="<%= choice %>">
        <%= choice %><br>
      <% }); %>
      <input type="hidden" name="questionId" value="<%= question.id %>">
      <br>
     <input type="submit" value="Submit">
  </form>
</body>
</html>
